@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  
  --color-neutral-50: #fcfcfc;
  --color-neutral-100: #f3f3f3;
  --color-neutral-200: #e0e0e0;
  --color-neutral-800: #1c1c1e;
  --color-neutral-900: #000000;
}

body {
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-900);
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

